#fullName, #birthday,#gender,#country,#tel,#bio,#userName,#email,#pwd,#confirmpwd{
    border: none;
    border-bottom: 2px solid black;
}
#card{
    border: none;
}
img{
    margin-left: 60px;
    margin-top: 10px;
}