<div class=" "  style="height:1000px;">
    <div class="container">
        <div class="row">
            <div class="col-md-7  col-ms-7">
                <h2 class="mt-5 ms-5" style="color: orange;"><strong>ChatGPT</strong><span class="font-circle">●</span></h2>
                <h2 style="color: orange; margin-top:30%; margin-left: 50px;">Welcome to ChatGPT</h2>
            </div>
            <div class="col-md-5 col-ms-5">
                <h2 class="get"><strong>Get Started</strong></h2>
                <a routerLink="loginchat" class="btn btn-primary ms-5">Login </a>
                <a routerLink="signup" class="btn btn-primary ms-5">SignUp </a>
    
    
            </div>
        </div>
       
    
    </div>
</div>

