.card{
    border: 1px black;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#btn{
    width: 100px;
    margin-left: 100px;
}
.eyeicon{
    position: absolute;
    left: 80%;
    top: 65%;
}
img{
    margin-left: 45%;
    margin-top: 20px;
    width:47px;
    height:42px;
}