<div class="row">
    <div class="col-md-8">
<div class="card" >
  <img class="card-img-top" src="../../assets/images/makeup.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Makeup</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="makeup" class="btn btn-primary">Go to Makeup </a>
  </div>
</div>
<div class="card" >
    <img class="card-img-top" src="../../assets/images/haircare.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">HairCare</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="haircare" class="btn btn-primary">Go to HairCare</a>
    </div>
  </div>
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/skincare.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SkinCare</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="skincare" class="btn btn-primary">Go SkinCare</a>
    </div>
  </div>
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/fregrances.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Fregrances</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a routerLink="fregrances" class="btn btn-primary">Go to Fregrances</a>
    </div>
  </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>