<!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Todo title" name="title" ngModel #title="ngModel">
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="createTodo(title)">Create Todo</button>
        </div>
    </div>
    <table class="table table-striped table-bordered mt-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todoList">
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>
                    <button class="btn btn-success" (click)=" editTodo(todo)">Edit</button>
                    <button class="btn btn-danger ms-5" (click)=" deleteTodo(todo.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div> -->
